<nav class="navbar navbar-default">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">cribs on droid</a>
	</div>
</nav>
<div class="container">
	<app-crib-listing>Our droid hamsters are working hard to display this component.</app-crib-listing>
</div>
<!-- Save the links for future reference maybe... -->
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<router-outlet></router-outlet>
